### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

# save merge file and allocate it to Resources folder
merged_school_data = Path("Resources")
merged_school_filename = "merged_complete.csv"
merged_output_path = merged_school_data / merged_school_filename
school_data_complete.to_csv(merged_output_path, index=False)

In [2]:
#Get all the column headers
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'year', 'school_name',
       'reading_score', 'maths_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

## Local Government Area Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average maths score 

* Calculate the average reading score

* Calculate the percentage of students with a passing maths score (50 or greater)

* Calculate the percentage of students with a passing reading score (50 or greater)

* Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
# calculate the total of unique school name
unique_school_name = len(school_data_complete["school_name"].unique())
unique_school_name

15

In [4]:
# calculate the total number of students
total_number_student = len(school_data_complete["Student ID"].unique())
total_number_student

39170

In [5]:
# calculate the total budget
total_budget = school_data["budget"].sum()
format_total_budget = "${:,.2f}".format(total_budget)
format_total_budget

'$24,649,428.00'

In [6]:
# calculate the average and round the math score
average_math_score = school_data_complete["maths_score"].mean()
round_math_score = average_math_score.round(6)
round_math_score

70.338192

In [7]:
# calculate the average and round the reading score
average_reading_score = school_data_complete["reading_score"].mean()
round_reading_score = average_reading_score.round(6)
round_reading_score

69.980138

In [8]:
# calculate the percentage and round the math score
student_passing_math = school_data_complete.loc[school_data_complete["maths_score"]>=50]
number_student_passing_math = student_passing_math.shape[0]
total_students = school_data_complete.shape[0]
percentage_passing_math = (number_student_passing_math / total_students) * 100
percentage_passing_math = round (percentage_passing_math,6)
percentage_passing_math

86.078632

In [9]:
# calculate the percentage and round the reading score
student_passing_reading = school_data_complete.loc[school_data_complete["reading_score"]>=50]
number_student_passing_reading = student_passing_reading.shape[0]
total_students = school_data_complete.shape[0]
percentage_passing_reading = (number_student_passing_reading/ total_students) * 100
percentage_passing_reading = round (percentage_passing_reading,6)
percentage_passing_reading

84.426857

In [10]:
# calculate the percentage and round the overall score
percentage_overall_passing = school_data_complete[(school_data_complete["maths_score"]>=50) & 
                                                  (school_data_complete["reading_score"]>=50)]['Student ID'].count()/total_students*100
                                               
percentage_overall_passing = round (percentage_overall_passing,6)
percentage_overall_passing

72.808272

In [11]:
#summarize all the above calculations in a new dataframe 
lga_summary = pd.DataFrame({"Total Schools": unique_school_name,
                            "Total Students": f"{total_number_student:,}",
                            "Total Budget": format_total_budget,
                            "Average Maths Score": round_math_score,
                            "Average Reading Score":round_reading_score,
                            "% Passing Maths": percentage_passing_math,
                            "% Passing Reading": percentage_passing_reading,
                            "% Overall Passing":percentage_overall_passing,
                            
                           }, index=[0])

lga_summary

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",70.338192,69.980138,86.078632,84.426857,72.808272

## School Summary

* Create an overview table that summarises key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed maths **and** reading.)

In [12]:
#create an index and group by the school name
school_name_df = school_data_complete.set_index("school_name").groupby(["school_name"])
school_name_df

In [13]:
#retrieve the first row of the DataFrame
school_type_summary = school_name_df["type"].first()
school_type_summary

school_name
Bailey High School        Government
Cabrera High School      Independent
Figueroa High School      Government
Ford High School          Government
Griffin High School      Independent
Hernandez High School     Government
Holden High School       Independent
Huang High School         Government
Johnson High School       Government
Pena High School         Independent
Rodriguez High School     Government
Shelton High School      Independent
Thomas High School       Independent
Wilson High School       Independent
Wright High School       Independent
Name: type, dtype: object

In [14]:
#calculate total number of student in each school
total_students_summary = school_name_df["Student ID"].count()
total_students_summary

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [15]:
#calculate total budget in each school
total_budget_summary = school_name_df["budget"].first()
total_budget_summary

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [16]:
#calculate budget per student in each school
budget_per_student = total_budget_summary / total_students_summary
budget_per_student

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [17]:
#calculate average math score in each school
average_math_score = school_name_df["maths_score"].mean()
average_math_score

school_name
Bailey High School       72.352894
Cabrera High School      71.657158
Figueroa High School     68.698542
Ford High School         69.091274
Griffin High School      71.788147
Hernandez High School    68.874865
Holden High School       72.583138
Huang High School        68.935207
Johnson High School      68.843100
Pena High School         72.088358
Rodriguez High School    72.047762
Shelton High School      72.034072
Thomas High School       69.581651
Wilson High School       69.170828
Wright High School       72.047222
Name: maths_score, dtype: float64

In [18]:
#calculate average reading score in each school
average_reading_score = school_name_df["reading_score"].mean()
average_reading_score

school_name
Bailey High School       71.008842
Cabrera High School      71.359526
Figueroa High School     69.077993
Ford High School         69.572472
Griffin High School      71.245232
Hernandez High School    69.186408
Holden High School       71.660422
Huang High School        68.910525
Johnson High School      69.039277
Pena High School         71.613306
Rodriguez High School    70.935984
Shelton High School      70.257808
Thomas High School       69.768807
Wilson High School       68.876916
Wright High School       70.969444
Name: reading_score, dtype: float64

In [19]:
#calculate percentage math score in each school
passing_math = school_data_complete[school_data_complete["maths_score"] >= 50].groupby(["school_name"])["maths_score"].count()
percentage_passing_math = passing_math / total_students_summary * 100
percentage_passing_math

school_name
Bailey High School       91.639871
Cabrera High School      90.850377
Figueroa High School     81.654798
Ford High School         82.438846
Griffin High School      91.212534
Hernandez High School    80.949299
Holden High School       89.929742
Huang High School        81.693521
Johnson High School      82.062592
Pena High School         91.683992
Rodriguez High School    90.797699
Shelton High School      91.538898
Thomas High School       83.853211
Wilson High School       82.785808
Wright High School       91.777778
dtype: float64

In [20]:
#calculate percentage reading score in each school
passing_read = school_data_complete[school_data_complete["reading_score"] >= 50].groupby(["school_name"])["reading_score"].count()
percentage_passing_read = passing_read / total_students_summary * 100
percentage_passing_read

school_name
Bailey High School       87.379421
Cabrera High School      89.074273
Figueroa High School     82.807731
Ford High School         82.219788
Griffin High School      88.487738
Hernandez High School    81.877023
Holden High School       88.524590
Huang High School        81.453548
Johnson High School      81.978576
Pena High School         86.590437
Rodriguez High School    87.396849
Shelton High School      86.712095
Thomas High School       82.629969
Wilson High School       81.296540
Wright High School       86.666667
dtype: float64

In [21]:
#calculate overall percentage score in each school
percentage_overall_passing_rate = school_data_complete[(school_data_complete["maths_score"]>=50) & 
                                                  (school_data_complete["reading_score"]>=50)].groupby('school_name')['Student ID'].count()/total_students_summary*100
percentage_overall_passing_rate

school_name
Bailey High School       80.084405
Cabrera High School      80.785791
Figueroa High School     67.650051
Ford High School         67.469880
Griffin High School      81.335150
Hernandez High School    66.364617
Holden High School       78.922717
Huang High School        66.712376
Johnson High School      67.191766
Pena High School         79.209979
Rodriguez High School    79.419855
Shelton High School      78.875639
Thomas High School       69.480122
Wilson High School       67.455103
Wright High School       79.722222
Name: Student ID, dtype: float64

In [22]:
#store the above calculation into a DataFrame
school_summary_df = pd.DataFrame({"School Type": school_type_summary,
      "Total Students": total_students_summary,
      "Total School Budget": total_budget_summary,
      "Per Student Budget": budget_per_student,
      "Average Maths Score": average_math_score,
      "Average Reading Score": average_reading_score,
      "% Passing Math": percentage_passing_math,
      "% Passing Reading": percentage_passing_read,
      "% Overall Passing": percentage_overall_passing_rate})

#format the columns
format_school_summary_df = school_summary_df.style.format({'Total Students': '{:}',
                          "Total School Budget": "${:,.2f}",
                          "Per Student Budget": "${:.2f}",
                          'Average Math Score': "{:6f}", 
                          'Average Reading Score': "{:6f}", 
                          "% Passing Math": "{:6f}", 
                          "% Passing Reading": "{:6f}"})

format_school_summary_df

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [23]:
#sort ascending value stored in the % Overall Passing
top_performing = school_summary_df.sort_values("% Overall Passing", ascending = False)

#format the columns
top_performing.style.format({'Total Students': '{:}',
                          "Total School Budget": "${:,.2f}",
                          "Per Student Budget": "${:.2f}",
                          'Average Math Score': "{:6f}", 
                          'Average Reading Score': "{:6f}", 
                          "% Passing Math": "{:6f}", 
                          "% Passing Reading": "{:6f}", 
                            "% Overall Passing": "{:6f}"})
#print the first 5 rows
top_performing.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Griffin High School,Independent,1468,917500,625.0,71.788147,71.245232,91.212534,88.487738,81.335150
Cabrera High School,Independent,1858,1081356,582.0,71.657158,71.359526,90.850377,89.074273,80.785791
Bailey High School,Government,4976,3124928,628.0,72.352894,71.008842,91.639871,87.379421,80.084405
Wright High School,Independent,1800,1049400,583.0,72.047222,70.969444,91.777778,86.666667,79.722222
Rodriguez High School,Government,3999,2547363,637.0,72.047762,70.935984,90.797699,87.396849,79.419855

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [24]:
#sort descending value stored in the % Overall Passing
bottom_performing = top_performing.tail()
bottom_performing = bottom_performing.sort_values('% Overall Passing')
bottom_performing.style.format({'Total Students': '{: }', 
                       "Total School Budget": "${:,.2f}", 
                       "Per Student Budget": "${:.2f}", 
                       "% Passing Math": "{:6f}", 
                       "% Passing Reading": "{:6f}", 
                       "% Overall Passing": "{:6f}"})
#print the first 5 rows
bottom_performing.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Hernandez High School,Government,4635,3022020,652.0,68.874865,69.186408,80.949299,81.877023,66.364617
Huang High School,Government,2917,1910635,655.0,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,3094650,650.0,68.843100,69.039277,82.062592,81.978576,67.191766
Wilson High School,Independent,2283,1319574,578.0,69.170828,68.876916,82.785808,81.296540,67.455103
Ford High School,Government,2739,1763916,644.0,69.091274,69.572472,82.438846,82.219788,67.469880

## Maths Scores by Year

* Create a table that lists the average maths score for students of each year level (9, 10, 11, 12) at each school.

  * Create a pandas series for each year. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [25]:
#find the year column for 9-12 with loc function and group by the school name and calculate the average math score
year_9 = school_data_complete.loc[school_data_complete["year"] == 9].groupby(["school_name"])["maths_score"].mean()
year_10 = school_data_complete.loc[school_data_complete["year"] == 10].groupby(["school_name"])["maths_score"].mean()
year_11 = school_data_complete.loc[school_data_complete["year"] == 11].groupby(["school_name"])["maths_score"].mean()
year_12 = school_data_complete.loc[school_data_complete["year"] == 12].groupby(["school_name"])["maths_score"].mean()

#store the above result in a DataFrame
math_score_by_year = pd.DataFrame({"Year 9": year_9, "Year 10": year_10, "Year 11": year_11, "Year 12": year_12})
math_score_by_year

                          Year 9    Year 10    Year 11    Year 12
school_name
Bailey High School     72.493827  71.897498  72.374900  72.675097
Cabrera High School    72.321970  72.437768  71.008299  70.604712
Figueroa High School   68.477804  68.331586  68.811001  69.325282
Ford High School       69.021609  69.387006  69.248862  68.617811
Griffin High School    72.789731  71.093596  71.692521  71.469178
Hernandez High School  68.586831  68.867156  69.154412  68.985075
Holden High School     70.543307  75.105263  71.640777  73.409639
Huang High School      69.081754  68.533246  69.431345  68.639316
Johnson High School    69.469286  67.990220  68.637730  69.287393
Pena High School       71.996364  72.396000  72.523438  71.187845
Rodriguez High School  71.940722  71.779808  72.364811  72.154626
Shelton High School    72.932075  72.506696  70.097087  72.331536
Thomas High School     69.234273  70.057007  69.657831  69.369822
Wilson High School     69.212361  69.455446  68.378965  69.787472
Wright High School     71.741176  72.179012  73.275862  70.848238

## Reading Score by Year

* Perform the same operations as above for reading scores

In [26]:
#find the year column for 9-12 with loc function and group by the school name and calculate the average reading score

year_9 = school_data_complete.loc[school_data_complete["year"] == 9].groupby(["school_name"])["reading_score"].mean()
year_10 = school_data_complete.loc[school_data_complete["year"] == 10].groupby(["school_name"])["reading_score"].mean()
year_11 = school_data_complete.loc[school_data_complete["year"] == 11].groupby(["school_name"])["reading_score"].mean()
year_12 = school_data_complete.loc[school_data_complete["year"] == 12].groupby(["school_name"])["reading_score"].mean()

#store the above result in a DataFrame
read_score_by_year = pd.DataFrame({"Year 9": year_9, "Year 10": year_10, "Year 11": year_11, "Year 12": year_12})
read_score_by_year

                          Year 9    Year 10    Year 11    Year 12
school_name
Bailey High School     70.901920  70.848265  70.317346  72.195525
Cabrera High School    71.172348  71.328326  71.201245  71.856021
Figueroa High School   70.261682  67.677588  69.152327  69.082126
Ford High School       69.615846  68.988701  70.735964  68.849722
Griffin High School    72.026895  70.746305  72.385042  69.434932
Hernandez High School  68.477569  70.621842  68.418199  69.244136
Holden High School     71.598425  71.096491  73.310680  70.481928
Huang High School      68.670616  69.516297  68.740638  68.671795
Johnson High School    68.719286  69.295029  69.969115  67.992521
Pena High School       70.949091  72.324000  71.703125  71.513812
Rodriguez High School  70.902921  70.137500  71.424453  71.414449
Shelton High School    70.715094  69.879464  71.150485  69.070081
Thomas High School     69.672451  69.741093  70.749398  68.730769
Wilson High School     68.683043  68.412541  68.796327  69.888143
Wright High School     71.823529  71.386831  70.475862  69.821138

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [30]:
#create bins and ranges
spending_bins = [0, 585, 630, 645, 680]
spending_ranges = ["<$585", "$585-630","$630-645","$645-680"]

#insert the new column
school_summary_df["Spending Ranges (Per Student)"] = pd.cut(school_summary_df["Per Student Budget"], spending_bins, labels=spending_ranges)

#group by the new column
grouped_spend_df = school_summary_df.groupby("Spending Ranges (Per Student)")              

#calculate the average
spending_summary_df = grouped_spend_df.mean(numeric_only=True)

#round the result
round_spending_summary_df = spending_summary_df.round(2)

#arranging the table
round_spending_summary_df[["Average Maths Score",
                    "Average Reading Score",
                    "% Passing Math",
                    "% Passing Reading",
                    "% Overall Passing"]]

,Average Maths Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,71.36,70.72,88.84,86.39,76.72
$585-630,72.07,71.03,91.52,87.29,79.88
$630-645,69.85,69.84,84.69,83.76,71.00
$645-680,68.88,69.05,81.57,81.77,66.76

## Scores by School Size

* Perform the same operations as above, based on school size.

In [28]:
#create bins and ranges
size_bins = [0, 1000, 2000, 5000]
size_ranges = ["Small (<1000)", "Medium (1000-2000)","Large (2000-5000)"]

#insert the new column
school_summary_df["School_Size"] = pd.cut(school_summary_df["Total Students"],size_bins, labels = size_ranges)

#group by the new column
group_size_df = school_summary_df.groupby("School_Size")

#calculate the average
size_summary_df = group_size_df.mean(numeric_only=True)

#round the result
round_size_summary_df = size_summary_df.round(6)

#arranging the table
round_size_summary_df[["Average Maths Score",
                    "Average Reading Score",
                    "% Passing Math",
                    "% Passing Reading",
                    "% Overall Passing"]]

,Average Maths Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School_Size,,,,,
Small (<1000),72.335748,71.636864,90.806867,87.557513,79.066348
Medium (1000-2000),71.421650,70.720164,89.846560,86.714149,78.039785
Large (2000-5000),69.751809,69.576052,84.252804,83.301185,70.293507

## Scores by School Type

* Perform the same operations as above, based on school type

In [29]:
#group by the new column
group_type_df = school_summary_df.groupby("School Type")

#calculate the average
type_summary_df = group_type_df.mean(numeric_only=True)

#arranging the table
type_summary_df[["Average Maths Score",
                    "Average Reading Score",
                    "% Passing Math",
                    "% Passing Reading",
                    "% Overall Passing"]]

,Average Maths Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Government,69.834806,69.675929,84.462375,83.587562,70.698993
Independent,71.368822,70.718933,89.204043,86.247789,76.973340